Repository sysgears/apollo-universal-starter-kit, pull requests merged in 2019-01, with the labels that each got.

#973 Add Angular Material
  modules/counter/client-angular/clientCounter/components/ClientCounterView.ts
  modules/counter/client-angular/clientCounter/index.ts
  modules/counter/client-angular/ngrxCounter/components/NgRxCounterView.ts
  modules/counter/client-angular/ngrxCounter/index.ts
  modules/counter/client-angular/serverCounter/components/ServerCounterView.ts
  modules/counter/client-angular/serverCounter/index.ts
  modules/look/client-angular/index.ts
  modules/look/client-angular/package.json
  modules/look/client-angular/ui-material/components/Button.ts
  modules/look/client-angular/ui-material/components/index.ts
  modules/look/client-angular/ui-material/index.ts
  modules/look/client-angular/ui-material/styles/styles.scss
  modules/look/client-angular/ui-material/styles/theme.scss
  packages/client-angular/package.json
  packages/client-angular/src/modules.ts
  yarn.lock
Labels: angular

#949 Scala post module
  modules/core/server-scala/src/main/scala/common/publisher/BasicPubSubService.scala
  modules/core/server-scala/src/main/scala/common/publisher/PubSubService.scala
  modules/core/server-scala/src/main/scala/common/publisher/PubSubServiceImpl.scala
  modules/core/server-scala/src/main/scala/common/publisher/RichPubSubService.scala
  modules/core/server-scala/src/test/scala/TestHelper.scala
  modules/counter/server-scala/src/main/scala/graphql/schema/CounterSchema.scala
  modules/counter/server-scala/src/main/scala/guice/CounterBinding.scala
  modules/counter/server-scala/src/main/scala/services/count/CounterActor.scala
  modules/counter/server-scala/src/main/scala/services/publisher/CounterPubSubServiceImpl.scala
  modules/pagination/server-scala/src/main/scala/graphql/resolvers/ItemResolver.scala
  modules/post/server-scala/build.sbt
  modules/post/server-scala/src/main/scala/app/PostModule.scala
  modules/post/server-scala/src/main/scala/graphql/resolvers/CommentResolver.scala
  modules/post/server-scala/src/main/scala/graphql/resolvers/PostResolver.scala
  modules/post/server-scala/src/main/scala/graphql/schema/PostSchema.scala
  modules/post/server-scala/src/main/scala/graphql/schema/marshalling/Unmarshallers.scala
  modules/post/server-scala/src/main/scala/guice/CommentBinding.scala
  modules/post/server-scala/src/main/scala/guice/PostBinding.scala
  modules/post/server-scala/src/main/scala/model/AddCommentInput.scala
  modules/post/server-scala/src/main/scala/model/AddPostInput.scala
  modules/post/server-scala/src/main/scala/model/Comment.scala
  modules/post/server-scala/src/main/scala/model/CommentTable.scala
  modules/post/server-scala/src/main/scala/model/DeleteCommentInput.scala
  modules/post/server-scala/src/main/scala/model/EditCommentInput.scala
  modules/post/server-scala/src/main/scala/model/EditPostInput.scala
  modules/post/server-scala/src/main/scala/model/Post.scala
  modules/post/server-scala/src/main/scala/model/PostEdges.scala
  modules/post/server-scala/src/main/scala/model/PostPageInfo.scala
  modules/post/server-scala/src/main/scala/model/PostTable.scala
  modules/post/server-scala/src/main/scala/model/Posts.scala
  modules/post/server-scala/src/main/scala/model/UpdateCommentPayload.scala
  modules/post/server-scala/src/main/scala/model/UpdatePostPayload.scala
  modules/post/server-scala/src/main/scala/repositories/CommentRepository.scala
  modules/post/server-scala/src/main/scala/repositories/CommentSchemaInitializer.scala
  modules/post/server-scala/src/main/scala/repositories/PostRepository.scala
  modules/post/server-scala/src/main/scala/repositories/PostSchemaInitializer.scala
  modules/post/server-scala/src/main/scala/services/publisher/CommentPubSubServiceImpl.scala
  modules/post/server-scala/src/main/scala/services/publisher/PostPubSubServiceImpl.scala
  modules/post/server-scala/src/test/resources/application.conf
  modules/post/server-scala/src/test/scala/PostHelper.scala
  modules/post/server-scala/src/test/scala/PostSpec.scala
  modules/post/server-scala/src/test/scala/WebSocketSpec.scala
  packages/server-scala/build.sbt
  packages/server-scala/src/main/resources/application.conf
  packages/server-scala/src/main/scala/Main.scala
Labels: in progress, scala

#981 Implement the user module functionality
  modules/authentication/server-scala/src/main/scala/app/AuthenticationModule.scala
  modules/authentication/server-scala/src/main/scala/graphql/schema/AuthenticationSchema.scala
  modules/authentication/server-scala/src/main/scala/model/AddUserWithAuthInput.scala
  modules/authentication/server-scala/src/main/scala/model/AuthCertificateInput.scala
  modules/authentication/server-scala/src/main/scala/model/AuthFacebookInput.scala
  modules/authentication/server-scala/src/main/scala/model/AuthGitHubInput.scala
  modules/authentication/server-scala/src/main/scala/model/AuthGoogleInput.scala
  modules/authentication/server-scala/src/main/scala/model/AuthInput.scala
  modules/authentication/server-scala/src/main/scala/model/AuthLinkedInInput.scala
  modules/authentication/server-scala/src/test/scala/AuthenticationTestHelper.scala
  modules/user/server-scala/src/main/scala/app/UserModule.scala
  modules/user/server-scala/src/main/scala/graphql/resolvers/UserResolver.scala
  modules/user/server-scala/src/main/scala/graphql/schema/UserSchema.scala
  modules/user/server-scala/src/main/scala/guice/UserBinding.scala
  modules/user/server-scala/src/main/scala/model/AddUserInput.scala
  modules/user/server-scala/src/main/scala/model/EditUserInput.scala
  modules/user/server-scala/src/main/scala/model/FilterUserInput.scala
  modules/user/server-scala/src/main/scala/model/OrderByUserInput.scala
  modules/user/server-scala/src/main/scala/model/ProfileInput.scala
  modules/user/server-scala/src/main/scala/model/UserProfile.scala
  modules/user/server-scala/src/main/scala/repositories/UserRepository.scala
  modules/user/server-scala/src/test/scala/UserSpec.scala
  modules/user/server-scala/src/test/scala/UserTestHelper.scala
  packages/server-scala/src/main/scala/guice/ServerModuleBinding.scala
Labels: scala

#991 Revert changes related to frontend part of pull-request #987
  modules/chat/client-react/containers/ChatOperations.jsx
  modules/counter/client-angular/clientCounter/components/ClientCounterView.ts
  modules/counter/client-angular/clientCounter/index.ts
  modules/counter/client-angular/ngrxCounter/components/NgRxCounterView.ts
  modules/counter/client-angular/ngrxCounter/index.ts
  modules/counter/client-angular/serverCounter/components/ServerCounterView.ts
  modules/counter/client-angular/serverCounter/index.ts
  modules/counter/client-react/serverCounter/containers/ServerCounter.tsx
  modules/database/server-ts/sql/createTransaction.js
  modules/database/server-ts/sql/index.ts
  modules/look/client-angular/index.ts
  modules/look/client-angular/package.json
  modules/look/client-angular/ui-material/components/Button.ts
  modules/look/client-angular/ui-material/components/index.ts
  modules/look/client-angular/ui-material/index.ts
  modules/look/client-angular/ui-material/styles/styles.scss
  modules/look/client-angular/ui-material/styles/theme.scss
  modules/look/client-react/ui-bootstrap/styles/bootstrap.scss
  modules/look/client-react/ui-bootstrap/styles/styles.scss
  modules/post/client-react/containers/Post.jsx
  modules/post/client-react/containers/PostAdd.jsx
  modules/post/client-react/containers/PostComments.jsx
  modules/user/server-ts/resolvers.js
  modules/user/server-ts/sql.js
  packages/client-angular/package.json
  packages/client-angular/src/modules.ts
  packages/mobile/.spinrc.js
Labels: in progress

#999 Create session module
  modules/authentication/server-scala/src/main/resources/application.conf
  modules/authentication/server-scala/src/main/scala/config/AuthConfig.scala
  modules/authentication/server-scala/src/main/scala/session/app/SessionModule.scala
  modules/authentication/server-scala/src/main/scala/session/graphql/schema/SessionSchema.scala
  modules/authentication/server-scala/src/main/scala/session/model/Session.scala
  modules/authentication/server-scala/src/main/scala/session/services/CryptoService.scala
  modules/authentication/server-scala/src/main/scala/session/services/SessionService.scala
  modules/authentication/server-scala/src/test/scala/CryptoServiceSpec.scala
  modules/core/server-scala/src/main/scala/common/graphql/UserContext.scala
  modules/core/server-scala/src/main/scala/common/routes/graphql/GraphQLRoute.scala
  modules/core/server-scala/src/main/scala/core/app/ModuleApp.scala
  modules/core/server-scala/src/main/scala/modules/session/JWTSessionImpl.scala
  modules/core/server-scala/src/test/scala/TestHelper.scala
Labels: scala
