Repository sysgears/apollo-universal-starter-kit, pull requests merged in 2019-02, with the labels that each got.

#1030 Add new sections about disabling server side rendering.
  docs/configuration.md
  docs/faq.md
Labels: documentation

#1011 Implement chat module
  modules/authentication/server-scala/src/main/scala/services/UserAuthService.scala
  modules/chat/server-scala/build.sbt
  modules/chat/server-scala/project/plugin.sbt
  modules/chat/server-scala/src/main/scala/app/ChatModule.scala
  modules/chat/server-scala/src/main/scala/graphql/resolver/ChatResolver.scala
  modules/chat/server-scala/src/main/scala/graphql/resolver/ChatResolverImpl.scala
  modules/chat/server-scala/src/main/scala/graphql/schema/ChatSchema.scala
  modules/chat/server-scala/src/main/scala/guice/ChatBinding.scala
  modules/chat/server-scala/src/main/scala/models/AddMessageInput.scala
  modules/chat/server-scala/src/main/scala/models/DbMessage.scala
  modules/chat/server-scala/src/main/scala/models/DbMessageTable.scala
  modules/chat/server-scala/src/main/scala/models/EditMessageInput.scala
  modules/chat/server-scala/src/main/scala/models/Message.scala
  modules/chat/server-scala/src/main/scala/models/MessageAttachment.scala
  modules/chat/server-scala/src/main/scala/models/MessageAttachmentTable.scala
  modules/chat/server-scala/src/main/scala/models/MessageEdges.scala
  modules/chat/server-scala/src/main/scala/models/MessagePageInfo.scala
  modules/chat/server-scala/src/main/scala/models/Messages.scala
  modules/chat/server-scala/src/main/scala/models/QuotedMessage.scala
  modules/chat/server-scala/src/main/scala/models/UpdateMessagesPayload.scala
  modules/chat/server-scala/src/main/scala/repositories/ChatRepository.scala
  modules/chat/server-scala/src/main/scala/repositories/DbMessageSchemaInitializer.scala
  modules/chat/server-scala/src/main/scala/repositories/MessageAttachmentSchemaInitializer.scala
  modules/chat/server-scala/src/main/scala/services/publisher/MessagePubSubServiceImpl.scala
  modules/chat/server-scala/src/test/resources/application.conf
  modules/chat/server-scala/src/test/scala/ChatHelper.scala
  modules/chat/server-scala/src/test/scala/ChatSpec.scala
  modules/chat/server-scala/src/test/scala/ChatWebSocketSpec.scala
  packages/server-scala/build.sbt
  packages/server-scala/src/main/scala/Main.scala
Labels: scala

#1003 Scala unsubscribe
  modules/core/server-scala/src/main/scala/common/graphql/UserContext.scala
  modules/core/server-scala/src/main/scala/common/publisher/ActorRefObserver.scala
  modules/core/server-scala/src/main/scala/common/publisher/BasicPubSubService.scala
  modules/core/server-scala/src/main/scala/common/publisher/PubSubService.scala
  modules/core/server-scala/src/main/scala/common/routes/graphql/WebSocketHandler.scala
  modules/core/server-scala/src/main/scala/modules/socket/GraphQLSubscriptions.scala
  modules/core/server-scala/src/main/scala/modules/socket/WebSocketMessageContext.scala
  modules/counter/server-scala/src/main/scala/graphql/schema/CounterSchema.scala
  modules/post/server-scala/src/main/scala/graphql/schema/PostSchema.scala
  packages/server-scala/build.sbt
  packages/server-scala/src/main/scala/Main.scala
Labels: in progress, scala
